<header>
  <!-- Навигационная панель -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white-50">Zephyr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" (click)="getprojects();">
          <button class="badge badge-pill badge-dark">All</button>
        </li>
        <li class="nav-item active" *ngFor="let theme of themes" (click)="themeclick(theme);">
          <!-- переборчик ссылок на темы -->
          <button class="badge badge-pill badge-dark">{{theme.name}}</button>
        </li>
      </ul>
      <div style="padding: 10px;">
        <button class="btn btn-circle" data-toggle="modal" data-target="#exampleModalCenter">
          <!-- кнопка выгрузки проэкта -->
          <p><img src="../assets/Image/download-icon-png-5.png" /> Upload</p>
        </button>
      </div>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchtext" placeholder="Search" aria-label="Search">  <!-- строка поиска -->
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="Search();"type="submit">Search</button>
      </div>
    </div>
  </nav>
</header>
<uploaded class="modal fade" id="exampleModalCenter" tabindex="-1" (Upload)="Uploadresult($event)" [EditProject]="EditProject" [edpr]="editproject" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"></uploaded>
  <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Upload Project</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Name</label>
          <br />
          <input type="text" required minlength="3" placeholder="NameProject" class="form-control" [(ngModel)]="projectName" />
          <label>Theme</label>
          <br />
          <input type="text" required minlength="2" placeholder="ThemeProject" class="form-control" [(ngModel)]="projectTheme" />
          <label>Description</label>
          <br />
          <input type="text" required minlength="10" placeholder="projectDescription" class="form-control" [(ngModel)]="projectDescription" />
          <label>File</label>
          <br />
          <input type="file" required="" name="file" placeholder="FileProject" (change)="fileProgress($event)" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-secondary" (click)="UploadProject()">Upload</button> Загрузить проэкт 
        </div>
      </div>
    </div>
  </div> -->
  <div class="container m-3 p-3" (click)="defView();">
    <div class="row" *ngIf="ShowProjects">
      <!-- показ проэктов -->
      <project  class="card col-sm-3 mb-3 m-3 p-2" *ngFor="let pr of Projects" [pr]="pr" (Showcurpr)="ShowcurProj($event)"></project> 
      <!-- <div class="card col-sm-3 mb-3 m-3 p-2" *ngFor="let pr of Projects">
        <div class="card-body" (click)="ShowcurProj(pr)">
          <div class="card-title">Name: {{pr.name}}</div>
          <br />
          <label>Theme: {{pr.theme}}</label>
          <br />
        </div>
        <button class=" btn btn-download btn-secondary w-100" (click)="downloadProject(pr);">Download</button>
      </div> -->
    </div>
    <div class="row" *ngIf="ShowProject">
      <!-- показ выбранного проэкта -->
      <projectextend  (editpr)="editProject($event)" [pr]="curProject" class="card col-sm-6  m-3 p-2"></projectextend> 
      <!-- <div class="card col-sm-6  m-3 p-2">
        <div class="card-body">
          <div class="card-title">Name: {{curProject.name}}</div>
          <br />
          <label>Theme: {{curProject.theme}}</label>
          <br />
          <label>Extention: {{curProject.extension}}</label>
          <br />
          <div>Description: {{curProject.description}}</div>
          <br />
          <button class="btn btn-secondary p-2 " (click)="downloadProject(curProject);">Download</button>
          <button class="btn btn-danger p-2 " (click)="deleteProject(curProject);">Delete</button>
          <button class="btn btn-primary p-2 " (click)="editProject(curProject);" data-toggle="modal" data-target="#exampleModalCenter">Edit</button>
        </div>
      </div> -->
    </div>
  </div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
  <div class="container text-center">
    <small>Copyright &copy; Zephyr Website</small>
  </div>
</footer>

